*{
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#header-box {
    width: 100%;
    height: 10%;
    display: flex;
    background-color: #45CAAC;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#header{
    color: white;
    font-size: 700%;
    font-weight: bold;
    font-family: "Afacad", sans-serif;
}

#icon-box{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#team-box{
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom: 4px solid #45CAAC;
    background-color: rgba(128, 128, 128, 0.06);
}

#tournament-box{
    width: 50%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    -moz-border-radius-topleft: 10%;
    -moz-border-radius-topright: 10%;
}

#display-box-default-team {
    width: 100%;
}

#display-box{
    width: 100%;
}

#addButton{
    font-size: 100px;
    width: 14%;
    background-color: #7FC8EE;
    border-radius: 16px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 80px;
    right: 80px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.29);
}


.overlay {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 10;
}

.overlay.active {
    display: flex;
}

.modal {
    position: relative;
    background-color: #F8F8F8;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    padding:10%;
    width: 200%;
    animation: fadeIn 0.2s ease-out;
    justify-content: center;
    align-content: center;
    margin: 5% 5% 25%;
    font-family: "Afacad", sans-serif;
}

.modal h2 {
    font-size: 50px;
    font-weight: 600;
    margin: 0 0 15%;
    text-align: center;
}

.modal label {
    display: block;
    font-size: 40px;
    margin-bottom: 6%;
    text-align: left;
}

.modal input {
    width: 100%;
    padding: 6px 0;
    font-size: 40px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #45CAAC;
    outline: none;
    background-color: #F8F8F8;
}


.save-btn {
    width: 42%;
    background-color: #7FC8EE;
    color: white;
    border: none;
    padding: 4%;
    font-size: 50px;
    cursor: pointer;
    margin-top: 10%;
    font-weight: bold;
    border-radius: 16px;
    margin-left: 30%;
    font-family: "Afacad", sans-serif;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    background: none;
    border: none;
    font-size: 80px;
    cursor: pointer;
    color: #333;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.97);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#team-details-outer-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.team-details{
    width: 60%;
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding: 8%;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: 25px;
    margin-top: 14%;
    font-family: "Afacad", sans-serif;
}

.svg-box {
    width: 30%;
    display: flex;
    justify-content: space-between;
}