*{
    margin: 0;
}


body {
    width: 100vw;
    height: 100vh;
}

#header-box {
    width: 100%;
    height:10%;
    display: flex;
    background-color: #45CAAC;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#header{
    color: white;
    font-size: 700%;
    font-weight: bold;
    font-family: "Afacad", sans-serif;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}

h2 {
    font-size: 400%;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10%;
    margin-left: 7%;
    font-family: "Afacad", sans-serif;

}

.field {
    margin-bottom: 20px;
}

input {
    width: 85%;
    padding: 3%;
    font-size: 300%;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.2s;
    margin-left: 7%;
    margin-top: 5%;
    font-family: "Afacad", sans-serif;


}

input::placeholder {
    color: #9e9e9e;
}

input:focus {
    border-color: #bdbdbd;
}

#save{
    width: 42%;
    background-color: #7FC8EE;
    color: white;
    border: none;
    padding: 4%;
    cursor: pointer;
    margin-top: 22%;
    font-weight: bold;
    border-radius: 16px;
    margin-left: 25%;
    font-family: "Afacad", sans-serif;
    text-align: center;
}

#save a{
    color: white;
    font-size: 50px;
    text-decoration: none;

}


#header-box2 {
    width: 100%;
    height:10%;
    display: flex;
    background-color: #45CAAC;
    align-items: center;
    justify-content: center;
}




#header-box2 header{
    font-size: 500%;
    margin-right: 50%;
    margin-bottom: 1%;

}
