
.turnierDet2{
    width: 80%;
    background-color: #F8F8F8;
    padding: 3%;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    font-size: 25px;
    margin: 8%;
    margin-top: 14%;
    font-family: "Afacad", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#header-box2 {
    width: 100%;
    height:10%;
    display: flex;
    background-color: #45CAAC;
    align-items: center;
    justify-content: center;
}




#header-box2 a{
    margin-right: 75%;
    margin-bottom: 1%;

}

