

* {
    margin: 0;
    font-family: Afacad;
}

body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.afacad-afacad {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#scoreHeader{
    height:4vh;
    border-bottom: 5px solid #7FC8EE;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    padding-top:1vh;
}

#scoreHeader h2{
    width:20vw;
    font-size: 50px;
    text-align:center;
}

#game {
    height: 10vh;
    background-color: #45CAAC;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 400%;
}

.team_outer_box {
    padding: 2%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 10%;
}

.team_inner_box {
    width: 100%;
    height: 30%;
    justify-content: left;
}
.team_inner_box>h1 {
    font-size: 550%;
    margin-bottom: 5%;
}
.team_inner_box>h2 {
    font-size: 350%;
}

.points_buttons_outer_box {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.points_button {
    color: white;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7FC8EE;
    font-size: 1000%;
    border-radius: 20%;
    box-shadow: 4px 15px 6px rgba(127, 200, 238, 0.5);
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.next_button_box {
    width: 100%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}

.next_button {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 6vh;
    background-color: #7FC8EE;
    color: white;
    font-size: 500%;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; /* Übergang für Hintergrund und Textfarbe */
}

.next_button:hover {
    background-color: #569ac8;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
