*{
    margin: 0;
}


header{
    width: 88%;
    background-color: #007bff;
    padding: 6%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 400%;
    font-family: "Protest Strike", serif;
}


#team1{
    margin-top: 5%;
    display: flex;

}

#team2 {
    border-top: black solid 1px;
    display: flex;
    margin-top: 5%;

}

.counterBox{
    cursor:pointer;
    display: flex;
    width: 20%;
    padding: 5%;
    font-size: 500%;
    margin-left: 5%;
}

.minus{
    margin-left: 30%;
}

.teamName{
    width: 100%;
    padding: 5%;
    font-size: 300%;
}

#winner{

    font-size: 400%;
    font-weight: bold;
    margin-left: 25%;
    margin-top: 10%;
}

#pointCounter1{
    font-weight: bold;
    margin-top: 2%;
}

#pointCounter2{
    font-weight: bold;
    margin-top: 2%;
}

#reset{
    padding: 5%;
    width: 40%;
    font-size: 300%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left:27% ;
    margin-top: 80%;
}