
*{
    margin: 0;
}

#header{
    background-color: #45CAAC;
    padding: 3%;
    text-align: center;
    color: white;
    font-size: 700%;
    font-weight: bold;
    width: 101%;
}

#pageBox{
    display: flex;
    width: 100%;
    font-size: 420%;
    margin-top:6%;
    margin-left: 7%;

}

.numberBox{
    padding: 2px;
    width: 8%;
    text-align: center;
    margin-left: 1%;
}

#pageBox1{
    background-color: #7FC8EE;
    color: white;
}

#headerBox{
    width: 100%;
    display: flex;
    font-size: 400%;
    font-weight: bold;
    margin-top: 15%;
    margin-left: -3%;
}

#headerBox p{
    margin-left: 12%;

}


hr{
    margin-top: 4%;
    width: 88%;
    margin-left: 5%;
    color:#7FC8EE;
}


#gameBox{
    display: flex;
    margin-left: -1.5%;
    margin-top: 4%;

}

#gameBox p,a{
    margin-left: 5%;
    font-size: 380%;
    margin-left: 10%;

}

#gameBox p{
    margin-top: 0.5%;
}

#resultButton{
    width: 45%;
    padding: 4%;
    margin-top: 110%;
    margin-left: 26%;
    font-size: 300%;
    border-radius: 20px;
    border: none;
    background-color: #7FC8EE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 15px 15px 7px rgba(0, 0, 0, 0.16);
}