
/* styles.css */
body {
    margin: 0;

}
.protest-strike-regular {
    font-family: "Protest Strike", serif;
    font-weight: 400;
    font-style: normal;
}





.circle {
    position: relative;
    left: 30%;
    transform: translateX(-50%);
    width: 140vw;
    height: 80vw;
    background-color: #45CAAC;
    border-radius: 0 0 80% 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.circle h1 {
    color: white;
    font-size: 94px;
    text-align: center;
    line-height: 1.4;
    margin-left: 14%;
    margin-top: 1%;
    font-weight: lighter;
    font-family: "Protest Strike", serif;
    font-weight: 400;
    font-style: normal
}

.circle h1 span {
    font-weight: bold;
    font-size: 175px;
    font-family: "Protest Strike", serif;
    font-weight: 400;
    font-style: normal

}


.dropdown-container {
    width: 100%;
    margin-bottom: 20px;
}


.dropdown-label {
    font-size: 350%;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    margin-top: 10%;
    margin-left: 8%;
    margin-bottom: 2%;
    font-family: "Afacad", serif;
    font-optical-sizing: auto;
    font-style: normal;

}


.dropdown {
    width: 90%;
    padding: 4%;
    margin-left: 5%;
    font-size: 160%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


.dropdown:focus {
    border-color: rgba(69, 202, 172, 0.33) ;
    outline: none;
    box-shadow: 0 0 5px rgba(69, 202, 172, 0.33);
}

#startButton{
    width: 45%;
    padding: 4%;
    margin-top: 30%;
    margin-left: 23%;
    font-size: 300%;
    border-radius: 20px;
    border: none;
    background-color: #7FC8EE;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    box-shadow: 1px 15px 15px 7px rgba(0, 0, 0, 0.16);

}

.container {
    display: block;
    position: relative;
    padding-left: 35px;

    cursor: pointer;
    font-size: 22px;
    user-select: none;
    margin-top: 10%;
}


.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
    width: 72px;
    background-color: white;
    margin-left: 10%;
    border: 3px #45CAAC solid;
}


.container input:checked ~ .checkmark {
    background-color: #45CAAC;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}


.container .checkmark:after {
    left: 23px;
    top: 2px;
    width: 20px;
    height: 48px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);

}

.text {
    margin-left: 20%;
    font-size: 50px;
}

.grau{
    color: rgba(0, 0, 0, 0.43);
}


.ausgegraut{
    border: 3px rgba(0, 0, 0, 0.43) solid;
}

.container .checkmark .ausgegraut:after {
    left: 23px;
    top: 2px;
    width: 20px;
    height: 48px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);

}

.container input:checked ~ .ausgegraut{
    background-color: white;
}
