/* styles.css */
body {
    margin: 0;
}

.circle {
    position: relative;
    margin-top: -30%; /* Kreis schiebt sich nach oben (relativ zur Kreisgröße) */
    left: 30%;
    transform: translateX(-50%);
    width: 170vw; /* Kreis deckt breiteren Bereich ab */
    height: 100vw; /* Der Kreis bleibt proportional */
    background-color: #42c2a8; /* Türkis-Farbton */
    border-radius: 50%; /* Rundform */
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle h1 {
    color: white;
    font-size: 90px;
    text-align: center;
    line-height: 1.4;
    margin-left: 10%;
    margin-top: 15%;
}

.circle h1 span {
    font-weight: bold;
    font-size: 150px;
}

