name: Eispunkt Build and Deploy
on: [push]

permissions:
  packages: write
  contents: read

jobs:
  backend:
    permissions: write-all
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "maven"
          cache-dependency-path: "backend/pom.xml"
      - name: Build with Maven
        working-directory: backend
        run: mvn -B package
      - uses: actions/setup-node@v5
        with:
          cache: "npm"
          cache-dependency-path: frontend/eispunkt-svelteKit/package-lock.json
      - name: Build Frontend
        working-directory: frontend/eispunkt-svelteKit
        run: |
          npm ci
          npm run build
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: build backend image
        working-directory: backend
        run: docker build -t "ghcr.io/2425-4bhitm-itp/eispunkt:latest" .
      - name: build frontend image
        working-directory: frontend/eispunkt-svelteKit/
        run: docker build -t "ghcr.io/2425-4bhitm-itp/eispunkt-frontend:latest" .
      - name: build keycloak image
        working-directory: docker/keycloak
        run: docker build -t "ghcr.io/2425-4bhitm-itp/eispunkt-keycloak:latest" .
      - name: push backend image
        run: docker push "ghcr.io/2425-4bhitm-itp/eispunkt:latest"
      - name: push frontend image
        run: docker push "ghcr.io/2425-4bhitm-itp/eispunkt-frontend:latest"
      - name: push keycloak image
        run: docker push "ghcr.io/2425-4bhitm-itp/eispunkt-keycloak:latest"